* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body {
    background: #000;
}

h2 {
    color: #00AAFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
}

p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 25px 0px;
}

input[type=text] {
    border: none;
    border-radius: 5px;
    color: #D8D8D8;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 27px;
}

button {
    background-color: #00AAFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.875rem;
    padding: 12px 29px;
}

ul li {
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    padding: 12px 8px 12px 50px;
    position: relative;
}

ul li::before {
    background: #000;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    content: '';
    height: 28px;
    position: absolute;
    top: 12px;
    left: 8px;
    width: 28px;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url();
}

ul li span {
    border-radius: 50%;
    color: #fff;
    font-size: 1.875rem;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5px;
    width: 40px;
}

ul li span:hover {
    color: #D8D8D8;
}